---
import Layout from '../layouts/layout.astro';
import Page from '../components/page.astro';
import TopMenu from '../components/top-menu.astro';
import Footer from '../components/footer.astro';
import Links from '../components/links.astro'

const linkData = [
  {
    name: 'Twitter',
    icon: '/assets/entypo-social--twitter.svg',
    link: 'https://example.com'
  },
  {
    name: 'Instagram',
    icon: '/assets/entypo-social--instagram.svg',
    link: 'https://example.com'
  },
  {
    name: 'TikTok',
    icon: '/assets/simple-icons--tiktok.svg',
    link: 'https://example.com'
  },
  {
    name: 'Facebook',
    icon: '/assets/entypo-social--facebook.svg',
    link: 'https://example.com'
  },
]
---

<Layout title="Stowarzyszenie OwO">
  <!--<TopMenu/>-->
  <Page>
    <div class="h-full flex-grow flex flex-col items-center justify-center bg-gradient-to-tr from-owopurple-500 to-owopurple-800">
      <img src="/assets/logo.svg" alt="Logo" class="h-80 w-80">
      <p class="p-2 font-bold text-3xl">WSPIERAMY FURKULTURĘ</p>
    </div>
    <div class="absolute w-full bottom-4 flex flex-row justify-center items-center">
      <a class="ml-auto mr-auto hover:scale-105 transition duration-100" href="#start">
        <img src="/assets/arrow-down.svg" alt="" class="w-12">
      </a>
    </div>
  </Page>
  <Page id="start">
    <div class="h-full flex flex-col items-center justify-center">
      <h1 class="bg-amber-700 p-2 font-bold">Second Page</h1>
    </div>
  </Page>
    <Links links={linkData}/>
  <Footer/>
</Layout>
