---
import Layout from '../layouts/layout.astro';
import Page from '../components/page.astro';
import TopMenu from '../components/top-menu.astro';
import Footer from '../components/footer.astro';
import Links from '../components/links.astro'
---

<Layout title="Stowarzyszenie OwO">
  <TopMenu/>
  <Page>
    <div class="h-full flex flex-col items-center justify-center">
      <p class="bg-amber-700 p-2 font-bold">Tailwind Styles Testing</p>
      <a class="mt-2 bg-owopurple-800 rounded-md p-2 text-md font-bold text-amber-100 hover:scale-105 transition duration-100" href="#start">Go To Second Page</a>
    </div>
  </Page>
  <Page id="start">
    <div class="h-full flex flex-col items-center justify-center">
      <h1 class="bg-amber-700 p-2 font-bold">Second Page</h1>
    </div>
  </Page>
   <Links/>
  <Footer/>
</Layout>
