---
import Layout from '../layouts/layout.astro';
import HtmlPanel from '../components/html-panel.astro';
---

<Layout title="Stowarzyszenie OwO - Polityka Prywatności">
  <h1 class="mt-16 mb-10 font-bold text-5xl text-center break-words">Polityka Prywatności <br> w Stowarzyszeniu OwO</h1>
  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział I</h2>
    <h2 class="text-center font-bold text-xl">Administrator Danych</h2>
    <h2 class="text-center font-bold text-xl">§ 1.</h2>
    <ol class="list-decimal">
      <li>Administratorem danych osobowych jest Stowarzyszenie OwO z siedzibą pod
        adresem ul. Zamknięta 10/1.5, 30-554 Kraków, KRS: 0001100597, NIP:
        6793296635, zwane w dalszej części <b>Administratorem</b>.
      </li>
      <li>Podmiotem przetwarzającym dane osobowe jest Stowarzyszenie OwO z
        siedzibą pod adresem ul. Zamknięta 10/1.5, 30-554 Kraków, KRS:
        0001100597, NIP: 6793296635.
      </li>
      <li>Kontakt z Administratorem jest możliwy za pośrednictwem poczty
        elektronicznej: <a class="underline text-blue-600" href="mailto://kontakt@owo.org.pl">kontakt@owo.org.pl</a>
      </li>
    </ol>
  </HtmlPanel>

  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział II</h2>
    <h2 class="text-center font-bold text-xl">Dane Osobowe</h2>
    <h2 class="text-center font-bold text-xl">§ 2.</h2>
    <ol class="list-decimal">
      <li>Dane osobowe są zbierane przez Administratora w dwóch przypadkach:
        Korzystania z serwisów internetowych w domenie owo.org.pl, oraz w celu
        rejestracji na Wydarzenia organizowane przez Administratora, zwane dalej
        Wydarzeniami. W obu przypadkach, właściciel danych osobowych zwany jest
        dalej <b>Użytkownikiem</b>.
      </li>
      <li>Dane są zbierane na cele realizacji celów statutowych Administratora.</li>
      <li>Użytkownicy podają swoje dane osobowe dobrowolnie.</li>
      <li>Zbieraniu podczas korzystania z serwisów internetowych w domenie
        owo.org.pl podlegają następujące dane:
        <ul class="ml-8 list-disc">
          <li>Identyfikator/pseudonim</li>
          <li>Adres poczty elektronicznej</li>
          <li>Adres IP</li>
          <li>Identyfikator sesji</li>
        </ul>
        Podanie danych jest dobrowolne, ale konieczne w celu korzystania z pełni
        funkcjonalności serwisów w domenie owo.org.pl.
      </li>
      <li>Zbieraniu podczas rejestracji na wydarzenie podlegają następujące dane:
        <ul class="ml-8 list-disc">
          <li>Imię i nazwisko</li>
          <li>Identyfikator/pseudonim</li>
          <li>Data urodzenia</li>
          <li>Dane kontaktowe: adres poczty elektronicznej, identyfikatory
            elektroniczne/internetowe w celach kontaktowych.
          </li>
        </ul>
        Podanie danych jest dobrowolne, ale konieczne w celu wzięcia udziału w
        wydarzeniu. Niepodanie lub podanie nieprawdziwych danych uniemożliwia
        udział w Wydarzeniu organizowanym przez Administratora.
        Użytkownik ponosi konsekwencje podania nieprawdziwych danych
        osobowych. Konsekwencje te mogą obejmować m. in. odmowę wstępu na
        wydarzenie.
      </li>
      <li>Poszczególne Wydarzenia mogą w ramach swoich potrzeb rozszerzyć bądź
        zawęzić zakres zbieranych danych przez wprowadzenie własnych polityk
        prywatności, nie stojących w sprzeczności z niniejszą Polityką Prywatności.
      </li>
      <li>Kontakt drogą mailową z Administratorem (np. pod adres
        <a class="underline text-blue-600" href="mailto://kontakt@owo.org.pl">kontakt@owo.org.pl</a>) nawet bez
        utworzenia konta w żadnym serwisie w
        domenie owo.org.pl oznacza przekazanie Administratorowi adresu e-mail, z
        którego ta wiadomość została nadana, a także innych danych, jeżeli takowe
        zostały zawarte w treści wiadomości. W takiej sytuacji podstawą prawną dla
        przetwarzania danych jest zgoda wynikająca z zainicjowanego tą drogą
        kontaktu. Dane przekazywane w ramach kontaktu e-mailowego przetwarzane
        są wyłącznie w celu kontaktu.
      </li>
      <li>Administrator przetwarza dane osobowe Użytkowników z zachowaniem
        wymaganych przez polskie prawo środków bezpieczeństwa oraz z
        poszanowaniem obowiązujących w tym zakresie przepisów prawa ze
        szczególnym uwzględnieniem przepisów rozporządzenia RODO, jedynie w
        celach związanych ze świadczeniem usług prowadzenia serwisów w domenie
        owo.org.pl oraz organizacji Wydarzeń.
      </li>
    </ol>
  </HtmlPanel>

  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział III</h2>
    <h2 class="text-center font-bold text-xl">Prawa Użytkownika</h2>
    <h2 class="text-center font-bold text-xl">§ 3.</h2>
    <ol class="list-decimal">
      <li>Użytkownikowi przysługuje prawo do:
        <ul class="ml-8 list-disc">
          <li>Dostępu i wglądu do treści swoich danych,</li>
          <li>Sprostowania swoich danych,</li>
          <li>Usunięcia zgromadzonych danych (prawo do bycia
            zapomnianym),
          </li>
          <li>Ograniczenia przetwarzania,</li>
          <li>Przenoszenia danych,</li>
          <li>Wniesienia sprzeciwu,</li>
          <li>Cofnięcia zgody na przetwarzanie danych w dowolnym
            momencie bez wpływu na zgodność z prawem przetwarzania
            (jeżeli przetwarzanie odbywa się na podstawie zgody), którego
            dokonano na podstawie zgody przed jej cofnięciem,
          </li>
          <li>Złożenia skargi do Prezesa Urzędu Ochrony Danych Osobowych.</li>
        </ul>
      </li>
    </ol>
  </HtmlPanel>

  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział IV</h2>
    <h2 class="text-center font-bold text-xl">Okres Przetwarzania</h2>
    <h2 class="text-center font-bold text-xl">§ 4.</h2>
    <ol class="list-decimal">
      <li>Dane osobowe podane przez Użytkownika na cele rejestracji na Wydarzenie
        organizowane przez Administratora zostają usuwane po upływie 30 dni od
        momentu zakończenia Wydarzenia.
      </li>
      <li>Dane osobowe podane przez Użytkownika w celu korzystania z serwisów
        internetowych w domenie owo.org.pl zostają usuwane po upływie 30 dni od
        dezaktywacji konta.
      </li>
      <li>W przypadku złamania regulaminu owocującego karną dezaktywacją konta,
        dane zostaną usunięte po upływie 30 dni od końca okresu karnej dezaktywacji
        konta na wniosek użytkownika. Karna dezaktywacja konta (tzw. “ban”) nie
        powoduje automatycznego zakończenia okresu przetwarzania danych.
      </li>
      <li>Dane mogą być przetwarzane dłużej, jeżeli wymagają tego od Administratora
        przepisy prawa Rzeczypospolitej Polskiej.
      </li>
      <li>Okresowi przetwarzania nie podlega wizerunek utrwalony w trakcie Wydarzeń
        na podstawie osobnej zgody na utrwalanie wizerunku na podstawie art. 81 ust.
        1 ustawy z 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (t.j Dz.
        U. z 2019 r., poz. 1231).
      </li>
    </ol>
  </HtmlPanel>

  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział V</h2>
    <h2 class="text-center font-bold text-xl">Profilowanie i Analityka</h2>
    <h2 class="text-center font-bold text-xl">§ 5.</h2>
    <ol class="list-decimal">
      <li>Żadne zebrane dane nie są i nie będą wykorzystywane do podejmowania
        zautomatyzowanych decyzji, w tym profilowania.
      </li>
      <li>Do celów analitycznych oraz deweloperskich Administrator zbiera dodatkowo
        przybliżoną lokalizację na podstawie adresu IP, nazwę i wersję przeglądarki
        internetowe, nazwę i wersję systemu operacyjnego, rozdzielczość i typ
        urządzenia oraz historię odwiedzanych podstron.
      </li>
      <li>Dane osobowe mogą być przechowywane przez dostawców usług
        zewnętrznych współpracujących z Administratorem. Część serwerów
        należących do usługodawców zewnętrznych może znajdować się poza
        terytorium Unii Europejskiej. Dokładniejsze informacje o usługodawcach
        zewnętrznych opisano w §6 niniejszej Polityki Prywatności.
      </li>
    </ol>
  </HtmlPanel>


  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział VI</h2>
    <h2 class="text-center font-bold text-xl">Usługodawcy Zewnętrzni</h2>
    <h2 class="text-center font-bold text-xl">§ 6.</h2>
    <ol class="list-decimal">
      <li>Serwisy w domenie owo.org.pl korzystają z usługi firmy CloudFlare, Inc., 665
        3rd pc. #200, San Francisco, CA 94107, USA. Jest to usługa, pośrednicząca w
        przesyłaniu danych pomiędzy użytkownikiem a hostingiem w celu
        zabezpieczenia i przyspieszenia działania serwisu, a także gromadzi dane
        statystyczne ruchu na stronie. Zapobiega atakom na stronę internetową i
        przeciwdziała wyciekom informacji. CloudFlare, Inc. może zapisywać pliki
        cookie na urządzeniu użytkownika. Proces ten ma na celu zapewnienie jak
        najsprawniejszego działania strony internetowej, a wymagane do tego dane
        osobowe, takie jak adres IP lub ID pliku cookie, są przetwarzane wyłącznie w
        tym celu (art. 6 ust. 1 f RODO).
      </li>
      <li>Korzystanie z domeny owo.org.pl wiąże się z przesyłaniem zapytań do serwera,
        na którym jest przechowywana. Obejmują one m.in. adres IP, datę i czas
        serwera, informacje o przeglądarce internetowej i systemie operacyjnym, z
        jakiego korzystasz. Logi zapisywane i przechowywane są na serwerze dostawcy
        usług hostingowych, którym jest firma OVH Sp. z o.o., ul. Powstańców
        Śląskich 9, 53-332 Wrocław. Informacje zawarte w logach serwera mogą być
        wykorzystane np. do diagnozowania problemów technicznych z serwerem, a
        także w celach związanych z bezpieczeństwem.
      </li>
      <li>Podczas rejestracji na Wydarzenia, Administrator korzysta z usług firmy
        Google, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
        Wykorzystywane są usługi formularzy Google w celu zbierania wymaganych
        do uczestnictwa informacji od użytkownika. Dane te mogą znajdować się na
        serwerach firmy Google przez okres ich przetwarzania zdefiniowany w §4.1
        niniejszej Polityki Prywatności.
      </li>
    </ol>
  </HtmlPanel>


  <HtmlPanel>
    <h2 class="text-center font-bold text-xl">Rozdział VII</h2>
    <h2 class="text-center font-bold text-xl">Postanowienia Końcowe</h2>
    <h2 class="text-center font-bold text-xl">§ 7.</h2>
    <ol class="list-decimal">
      <li>Korzystanie z serwisów w domenie owo.org.pl oraz rejestracja na Wydarzenia
        organizowane przez Administratora oznacza akceptację niniejszej Polityki
        Prywatności.
      </li>
      <li>Administrator zastrzega możliwość wprowadzenia zmian w niniejszej Polityce
        Prywatności. Zmiany dokonywane są poprzez zamieszczenie nowej treści na
        stronie internetowej i obowiązują od momentu ich wprowadzenia.
      </li>
      <li>Aktualna treść obowiązuje od dnia 22.08.2024 roku do zmiany lub odwołania
        w całości lub w części.
      </li>
    </ol>
  </HtmlPanel>
</Layout>