---
interface Props {

}

const {}: Props = Astro.props;
---

<div class="w-full h-52 p-4 bg-owowhite bg-opacity-30 text-owopurple-800 flex items-center justify-around">
  <p class="font-extrabold">A</p>
  <p class="font-extrabold">B</p>
  <p class="font-extrabold">C</p>
</div>