---
interface Props {

}

const {}: Props = Astro.props;
---

<div class="relative mt-96 w-full h-44 p-4 bg-owowhite bg-opacity-70 text-owopurple-800 flex items-center justify-center">
  <div class="flex grow justify-around">
    <div>
      <p class="font-extrabold">
        Stowarzyszenie OwO <br>
        UL. ZAMKNIĘTA 10 /1.5 <br>
        30-554 KRAKÓW
      </p>
    </div>
    <div>
      <p class="font-extrabold">
        KRS 0001100597 <br>
        NIP 6793296635 <br>
        REGON 52838914700000
      </p>
    </div>
    <div>
      <p class="font-extrabold">© Stowarzyszenie OwO, 2024.<br> Wszystkie prawa zastrzeżone.</p>
    </div>
  </div>
  <img src="/assets/logo-bottom.svg" alt="logo-bottom" class="absolute h-[36rem] right-0 bottom-0">
</div>