---
interface Props {

}

const {}: Props = Astro.props;
---

<div class="flex flex-col  items-center justify-between">
    <a href="https://example.com/" target="_blank" class="flex font-bold rounded-lg text-lg  h-25 p-3  m-3 bg-amber-700 text-white w-full max-w-xs justify-center"><img src="../src/assets/entypo-social--twitter.svg" alt="Icon" class="w-6 h-6 p-1">Twitter</a>
    <a href="https://example.com/" target="_blank" class="flex font-bold rounded-lg text-lg h-25 p-3 m-3 bg-amber-700 text-white w-full max-w-xs justify-center"><img src="../src/assets/entypo-social--instagram.svg" alt="Icon" class="w-6 h-6 p-1">Instagram</a>
    <a href="https://example.com/" target="_blank" class="flex font-bold rounded-lg text-lg h-25 p-3 m-3 bg-amber-700 text-white w-full max-w-xs justify-center"><img src="../src/assets/tiktok.svg" alt="Icon" class="w-6 h-6 p-1">TikTok</a>
    <a href="https://example.com/" target="_blank" class="flex font-bold rounded-lg text-lg h-25 p-3 m-3 bg-amber-700 text-white w-full max-w-xs justify-center"><img src="../src/assets/entypo-social--facebook.svg" alt="Icon" class="w-6 h-6 p-1">Facebook</a>
    
</div>