---
interface Props {
  links: {
    name: string;
    link: string;
    icon: string;
  }[];
}

const {links}: Props = Astro.props;
---

<div class="flex flex-col gap-6 items-center justify-between">
  {links.map((link) =>
      <a href={link.link} target="_blank"
         class="flex font-bold rounded-lg text-lg h-25 p-3 bg-amber-700 text-white w-full max-w-xs  items-center justify-center"><img
          src={link.icon} alt="Icon" class="w-6 h-6 p-1">{link.name}</a>
  )}

  <!--<a href="https://example.com/" target="_blank"-->
  <!--   class="flex font-bold rounded-lg text-lg  h-25 p-3  m-3 bg-amber-700 text-white w-full max-w-xs  items-center justify-center"><img-->
  <!--    src="../src/assets/entypo-social&#45;&#45;twitter.svg" alt="Icon" class="w-6 h-6 p-1">Twitter</a>-->
  <!--<a href="https://example.com/" target="_blank"-->
  <!--   class="flex font-bold rounded-lg text-lg h-25 p-3 m-3 bg-amber-700 text-white w-full max-w-xs  items-center justify-center"><img-->
  <!--    src="../src/assets/entypo-social&#45;&#45;instagram.svg" alt="Icon" class="w-6 h-6 p-1">Instagram</a>-->
  <!--<a href="https://example.com/" target="_blank"-->
  <!--   class="flex font-bold rounded-lg text-lg h-25 p-3 m-3 bg-amber-700 text-white w-full max-w-xs items-center justify-center"><img-->
  <!--    src="../src/assets/simple-icons&#45;&#45;tiktok.svg" alt="Icon" class="w-6 h-6 p-1">TikTok</a>-->
  <!--<a href="https://example.com/" target="_blank"-->
  <!--   class="flex font-bold rounded-lg text-lg h-25 p-3 m-3 bg-amber-700 text-white w-full max-w-xs  items-center justify-center"><img-->
  <!--    src="../src/assets/entypo-social&#45;&#45;facebook.svg" alt="Icon" class="w-6 h-6 p-1">Facebook</a>-->

</div>