<div class="flex flex-col gap-2 owo-section text-center font-bold">
    <h1 class="text-3xl font-bold uppercase">Wesprzyj nas</h1>
    <p>Przekaz darowizne na</p>
    <div class="flex gap-2 sm:gap-6 text-owowhite flex-wrap">
        <div class="flex flex-col justify-center uppercase bg-owopurple-500/70 rounded-xl p-4 flex-grow sm:flex-grow-0">
            <p>Stowarzyszenie OwO</p>
            <p>Zamknięta 10/1.5, 30-554 Kraków</p>
            <p>94 1870 1045 2078 1081 6512 0001</p>
            <p class="quote">Darowizna na cele statutowe</p>
        </div>
        <div class="flex flex-col items-center gap-2 bg-owopurple-500/70 rounded-xl p-4 flex-grow sm:flex-grow-0">
            <p class="max-w-48 text-center text-sm">Zeskanuj aplikacją bankową</p>
            <img src="/assets/qr_code.svg" class="h-[150px] aspect-square bg-owowhite p-2 rounded-2xl"/>
        </div>
    </div>
    <div class="bg-owopurple-500/70 rounded-xl p-2 text-owowhite">BLIK: 571 529 393</div>
    <p>Lub 1.5% podatku</p>
    <div class="flex flex-col bg-owopurple-500/70 rounded-xl p-2 text-owowhite">
        <p>Nr KRS: 0001100597</p>
        <p class="uppercase">Dopisek: Stowarzyszenie OwO 23364</p>
    </div>
</div>