---

---
<div class="flex  text-center items-center bg-owowhite bg-opacity-70 text-owopurple-700 p-5 m-5 text-2xl rounded-2xl">
    Stowarzyszenie OwO to organizacja, która powstała, by wspierać ludzi zainteresowanych kulturą furry – to społeczność miłośników postaci łączących cechy ludzi i zwierząt. Chcemy pomagać im się integrować, rozwijać swoje pasje i czuć się akceptowanymi.
Nasze cele:<br>

    Budowanie społeczności – organizujemy spotkania, warsztaty i wydarzenia, które łączą ludzi o podobnych zainteresowaniach.<br>
    Promowanie kultury furry – pokazujemy, że to ciekawa i wartościowa forma twórczości, np. poprzez sztukę, tworzenie strojów (fursuitów) czy inne działania artystyczne.<br>
    Walka z dyskryminacją i szerzenie tolerancji – uczymy otwartości, zrozumienia i akceptacji dla innych.<br>
    Pomoc i wsparcie – wspieramy osoby potrzebujące pomocy, organizujemy zbiórki i działania charytatywne, a także promujemy zdrowy styl życia.<br>

<br>
Jak działamy?<br>

Organizujemy różnego rodzaju wydarzenia – od lokalnych spotkań po większe imprezy. Tworzymy przestrzeń, gdzie każdy może wyrazić siebie, znaleźć przyjaciół i rozwijać swoje pasje. Działamy na rzecz ochrony zwierząt, dbamy o środowisko i wspieramy twórczość artystyczną. Naszym celem jest, by każdy mógł poczuć się częścią otwartej i przyjaznej społeczności.<br>
<br>
W skrócie – jesteśmy tu, by łączyć ludzi, inspirować ich i wspierać w robieniu tego, co kochają!<br>

</div>