---
interface Props {
  people: {
    name: string;
    desc: string;
    icon: string;
  }[];
  title?: string;
}

const {people, title}: Props = Astro.props;
---

<div class="flex flex-col gap-6 items-center justify-between w-full max-w-4xl ml-auto mr-auto mt-24">
    {title?<h1 class="text-5xl font-bold text-center mb-2 uppercase">{title}</h1>:null} 
  {people.map((user) =>
      <div class="flex odd:flex-row even:flex-row-reverse items-center justify-between w-full gap-12 group">
        <img src={user.icon} alt="staff" class="h-80 w-80">
        <div class="flex flex-col justify-start flex-grow group-even:text-right">
            <h2 class="font-bold text-2xl">{user.name}</h2>
            <p class="mt-4">{user.desc}</p>
        </div>
      </div>
  )}
</div>