---
const links = [
  // {title: 'Kim jesteśmy', link: '#start'},
  {title: 'Gdzie nas znaleźć', link: '#social-media'},
  {title: 'Ważne linki', link: '#links'},
  {title: 'Zarząd i kr', link: '#stuff'}
];
---

<div id="menu-top" data-show="false" class="pointer-events-none opacity-0 [&[data-show=true]]:opacity-100 [&[data-show=true]]:pointer-events-auto flex top-0 fixed w-full min-h-12 lg:h-14 flex-wrap p-2 lg:p-0 justify-center md:items-center gap-6 bg-owowhite text-owopurple-800 text-xl font-bold z-40 transition-all duration-500">
  <div class="left-0 absolute flex flex-row items-center top-1">
    <img alt="logo" src="/public/assets/lineart.svg" class="h-12"/>
    <p class="flex lg:hidden xl:flex font-bold text-1xl">Stowarzyszenie OwO</p>
  </div>

  <div id="button-burger" class="max-w-10 lg:hidden hover:cursor-pointer hover:scale-105 right-6 top-2 absolute">
    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
      <path fill="none" stroke="#49295E" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 6h18M3 12h18M3 18h18"/>
    </svg>
  </div>

  <!--<h1 class="mx-auto md:mx-0">Stowarzyszenie OwO</h1>-->
  <!--  DESKTOP  -->
  <div class="hidden lg:flex gap-6 justify-between flex-row items-center">
    {links.map((link) => {
      return <a href={link.link} class="md:hover:scale-105 transition-all duration-100 uppercase">{link.title}</a>;
    })}
  </div>
  <!--  MOBILE  -->
  <div id="menu-items" data-show="false" class="hidden mt-12 [&[data-show=true]]:flex lg:hidden flex-col mr-auto gap-6">
    {links.map((link) => {
      return <a href={link.link} class="md:hover:scale-105 transition-all duration-100 uppercase">{link.title}</a>;
    })}
  </div>
</div>

<script lang="ts" is:inline>
  const menuItems = document.getElementById('menu-items');
  const menu = document.getElementById('menu-top');
  const openMenu = document.getElementById('button-burger');
  let h = window.innerHeight;
  let opened = false;
  const onClickOutside = (element, callback) => {

    document.addEventListener('click', e => {
      if (!element.contains(e.target)) callback();
    });
  };
  onClickOutside(menu, () => {
    opened = false;
    menuItems.setAttribute('data-show', opened);
  });

  const menuButtons = document.querySelectorAll('#menu-items > a');

  for (let i = 0; i < menuButtons.length; i++) {
    const button = menuButtons[i];
    button.addEventListener('click', () => {
      opened = false;
      menuItems.setAttribute('data-show', opened);
    })
  }


  window.addEventListener('resize', e => {
    h = window.innerHeight;
  });

  openMenu.addEventListener('click', e => {
    opened = !opened;
    menuItems.setAttribute('data-show', opened);
  });

  window.addEventListener('scroll', e => {
    if (window.scrollY >= h && menu.getAttribute('data-show') == 'false') {
      menu.setAttribute('data-show', 'true');
    } else if (window.scrollY < h && menu.getAttribute('data-show') == 'true') {
      menu.setAttribute('data-show', 'false');
    }
  });
</script>
