/* tailwind.config.js  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Clarity City";
    src: url("/public/fonts/ClarityCity-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}