---
import '../styles/global.css';
import Footer from '../components/footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pl" class="scroll-smooth overflow-x-hidden">
	<head>
		<title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Stowarszyszenie OwO - Sekcja WebOwO">
    <meta name="title" content={title}>
    <meta name="description" content="Wspieramy subkulturę furry">
    <meta name="keywords" content="furry, furry fandom, futrzaki, subkultura furry, furkultura, stowarzyszenie owo, owo">
    <meta name="robots" content="index, follow, archive">
    <link rel="icon" type="image/webp" href="/favicon.webp">
    <link rel="preload" as="image" href="/assets/logo.svg">
  </head>
	<body class="overflow-x-hidden min-h-svh flex flex-col text-owowhite font-city">
  <div class="fixed top-0 left-0 h-screen w-screen bg-gradient-to-tr from-owopurple-900 to-owopurple-800"/>
  <div class="z-10 flex flex-col grow">
    <slot />
  </div>
    <Footer/>
  </body>
</html>
