name: Build Docker Image
on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      # Checkout
      - name: Checkout website
        uses: actions/checkout@v4
      
      # Branch
      - name: Get branch and tag vars
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: vars

      # Prepare
      - name: Login to GHCR registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      # Build and push
      - name: Build and push
        uses: docker/build-push-action@v5
        with: 
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.branch }}
            ghcr.io/${{ github.repository }}:latest

  deploy-to-dev:
    if: github.ref == 'refs/heads/dev'
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - name: Trigger deploy webhook
        shell: bash
        run: ${{ secrets.WEBHOOK_DEV }}
